<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--
  <xacro:property name="pi" value="3.141592654" />
  -->

  <!-- body link -->
  <xacro:macro name="insert_mesh_body_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/body.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_body_link">
    <origin xyz="-0.0168 0.0000 0.0683" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.1745 0.1288 0.1453"/>
    </geometry>
  </xacro:macro>

  <!-- right hip yaw link -->
  <xacro:macro name="insert_mesh_r_hip_yaw_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/rl1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_r_hip_yaw_link">
    <origin xyz="-0.0015 0.0000 -0.0155" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0450 0.0250 0.0310"/>
    </geometry>
  </xacro:macro>

  <!-- right hip roll link -->
  <xacro:macro name="insert_mesh_r_hip_roll_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/rl2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_r_hip_roll_link">
    <origin xyz="0.0039 -0.0022 -0.0120" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0798 0.0424 0.0465"/>
    </geometry>
  </xacro:macro>

  <!-- right hip pitch link -->
  <xacro:macro name="insert_mesh_r_hip_pitch_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/rl3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_r_hip_pitch_link">
    <origin xyz="0.0004 0.0188 -0.0595" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0309 0.0464 0.1239"/>
    </geometry>
  </xacro:macro>

  <!-- right knee link -->
  <xacro:macro name="insert_mesh_r_knee_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/rl4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_r_knee_link">
    <origin xyz="0.0000 0.0200 -0.0550" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0300 0.0440 0.1150"/>
    </geometry>
  </xacro:macro>

  <!-- right ankle pitch link -->
  <xacro:macro name="insert_mesh_r_ank_pitch_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/rl5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_r_ank_pitch_link">
    <origin xyz="-0.0202 0.0168 0.0120" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0798 0.0424 0.0465"/>
    </geometry>
  </xacro:macro>

  <!-- right ankle roll link -->
  <xacro:macro name="insert_mesh_r_ank_roll_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/rl6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_r_ank_roll_link">
    <origin xyz="0.0240 -0.0125 -0.0140" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.1270 0.0800 0.0330"/>
    </geometry>
  </xacro:macro>

  <!-- left hip yaw link -->
  <xacro:macro name="insert_mesh_l_hip_yaw_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/ll1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_l_hip_yaw_link">
    <origin xyz="-0.0015 0.0000 -0.0155" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0450 0.0250 0.0310"/>
    </geometry>
  </xacro:macro>

  <!-- left hip roll link -->
  <xacro:macro name="insert_mesh_l_hip_roll_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/ll2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_l_hip_roll_link">
    <origin xyz="0.0039 0.0022 -0.0120" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0798 0.0424 0.0465"/>
    </geometry>
  </xacro:macro>

  <!-- left hip pitch link -->
  <xacro:macro name="insert_mesh_l_hip_pitch_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/ll3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_l_hip_pitch_link">
    <origin xyz="0.0004 -0.0188 -0.0595" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0309 0.0464 0.1239"/>
    </geometry>
  </xacro:macro>

  <!-- left knee link -->
  <xacro:macro name="insert_mesh_l_knee_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/ll4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_l_knee_link">
    <origin xyz="-0.0000 -0.0200 -0.0550" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0300 0.0440 0.1150"/>
    </geometry>
  </xacro:macro>

  <!-- left ankle pitch link -->
  <xacro:macro name="insert_mesh_l_ank_pitch_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/ll5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_l_ank_pitch_link">
    <origin xyz="-0.0206 -0.0168 0.0120" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0790 0.0424 0.0465"/>
    </geometry>
  </xacro:macro>

  <!-- left ankle roll link -->
  <xacro:macro name="insert_mesh_l_ank_roll_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/ll6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_l_ank_roll_link">
    <origin xyz="0.0240 0.0125 -0.0140" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.1270 0.0800 0.0330"/>
    </geometry>
  </xacro:macro>

  <!-- right shoulder pitch joint -->
  <xacro:macro name="insert_mesh_r_sho_pitch_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/ra1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_r_sho_pitch_link">
    <origin xyz="-0.0000 -0.0155 -0.0038" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0420 0.0310 0.0325"/>
    </geometry>
  </xacro:macro>

  <!-- right shoulder pitch joint -->
  <xacro:macro name="insert_mesh_r_sho_roll_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/ra2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_r_sho_roll_link">
    <origin xyz="-0.0168 -0.0452 0.0007" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0424 0.1129 0.0301"/>
    </geometry>
  </xacro:macro>

  <!-- right elbow joint -->
  <xacro:macro name="insert_mesh_r_el_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/ra3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_r_el_link">
    <origin xyz="-0.0190 -0.0720 0.0000" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0420 0.1490 0.0300"/>
    </geometry>
  </xacro:macro>

  <!-- left shoulder pitch joint -->
  <xacro:macro name="insert_mesh_l_sho_pitch_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/la1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_l_sho_pitch_link">
    <origin xyz="0.0000 0.0155 -0.0038" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0420 0.0310 0.0325"/>
    </geometry>
  </xacro:macro>

  <!-- left shoulder pitch joint -->
  <xacro:macro name="insert_mesh_l_sho_roll_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/la2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_l_sho_roll_link">
    <origin xyz="-0.0168 0.0452 0.0007" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0424 0.1129 0.0301"/>
    </geometry>
  </xacro:macro>

  <!-- left elbow joint -->
  <xacro:macro name="insert_mesh_l_el_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/la3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_l_el_link">
    <origin xyz="-0.0190 0.0720 0.0000" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0420 0.1490 0.0300"/>
    </geometry>
  </xacro:macro>

  <!-- head yaw joint -->
  <xacro:macro name="insert_mesh_head_pan_link">
    <origin xyz="0 0 -0.0285" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/h1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_head_pan_link">
    <origin xyz="0.0038 -0.0000 -0.013" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0325 0.0420 0.0310"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>

  <!-- head yaw joint -->
  <xacro:macro name="insert_mesh_head_tilt_link">
    <origin xyz="0 0.019 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://op3_description/meshes/h2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="Grey">
      <color rgba="0.60 0.60 0.60 1.0"/>
    </material>
  </xacro:macro>
  <xacro:macro name="insert_box_head_tilt_link">
    <origin xyz="0.0060 0 0.0278" rpy="0.0000 -0.0000 -0.0000"/>
    <geometry>
      <box size="0.0445 0.0940 0.0780"/>
    </geometry>
  </xacro:macro>

</robot>
